body{
    background-image: url("futurama.jpg");
    background-size: 100%;
}

.jumbotron{
    background: rgba(107, 196, 229, 0.8);
    border-radius: 15px;

}

.timerBox{
    position: absolute;
    top: 225px;
    left: 50px;
    width: 100px;
    padding-left: 30px;
}

.questionBox{
    font-family: "VT323", monospace;
    margin: 7px;
}

.answerBox{
    margin: 7px;
}

.answerBox button{
    font-family: 'VT323', monospace;
    font-size: 18pt;
}

header{
    height: 50px;
}

#Title{
    width: 55%;
    float: left;
    height: 200px;
    font-family: "Rock Salt", cursive;
}

h2{

}

#randomTitleBox{
    width: 40%;
    float: right;
    /*font-family: 'Kanit', sans-serif;*/
    height: 200px;
    text-transform: uppercase;
}

.gradeBox{
    position: absolute;
    width: 100%;
    top: 300px;
}